Repository ConstructBMS/ConstructBMS: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

fix: restore widget sizes and align content properly
  frontend/src/modules/dashboard/components/widgets/ChartWidget.tsx
  frontend/src/modules/dashboard/components/widgets/CustomWidget.tsx
  frontend/src/modules/dashboard/components/widgets/MultiChartWidgets.tsx
Due: eslint --cache --fix

fix: move Welcome widget buttons down to align with Performance Metrics percentages
  frontend/src/modules/dashboard/components/widgets/CustomWidget.tsx
Due: eslint --cache --fix

fix: restore Welcome widget to original size
  frontend/src/modules/dashboard/components/widgets/CustomWidget.tsx
Due: eslint --cache --fix

fix: move Welcome widget buttons down slightly
  frontend/src/modules/dashboard/components/widgets/CustomWidget.tsx
Due: eslint --cache --fix

fix: restore widget size by removing CardContent padding
  frontend/src/modules/dashboard/components/widgets/CustomWidget.tsx
Due: eslint --cache --fix

fix: move Performance Metrics graphic and metrics up slightly
  frontend/src/modules/dashboard/components/widgets/MultiChartWidgets.tsx
Due: eslint --cache --fix

fix: adjust content spacing in Welcome widget
  frontend/src/modules/dashboard/components/widgets/CustomWidget.tsx
Due: eslint --cache --fix

fix: increase gap between purple gradient header and content text
  frontend/src/modules/dashboard/components/widgets/CustomWidget.tsx
Due: eslint --cache --fix

fix: raise graphic/graph in Performance Metrics widget
  frontend/src/modules/dashboard/components/widgets/MultiChartWidgets.tsx
Due: eslint --cache --fix

fix: convert all currency from dollars to pounds for GBP English
  frontend/src/modules/dashboard/components/DashboardBuilder.tsx
  frontend/src/modules/dashboard/components/widgets/ChartWidget.tsx
  frontend/src/modules/dashboard/components/widgets/MultiChartWidgets.tsx
  frontend/src/modules/dashboard/store.ts
  frontend/src/pages/GeneralSettings.tsx
Due: eslint --cache --fix

feat: implement comprehensive sticky notes module
  database/migrations/2025-01-15_sticky-notes.sql
  frontend/src/app/store/sticky-notes.store.ts
  frontend/src/components/RichTextEditor.tsx
  frontend/src/components/Sidebar.tsx
  frontend/src/components/StickyNotesModal.tsx
  frontend/src/components/layout/Sidebar.tsx
  frontend/src/components/layout/Topbar.tsx
  frontend/src/services/sticky-notes.service.ts
Due: eslint --cache --fix

fix: update sticky notes components and services
  frontend/src/app/store/sticky-notes.store.ts
  frontend/src/components/RichTextEditor.tsx
  frontend/src/components/StickyNotesModal.tsx
  frontend/src/components/layout/Topbar.tsx
  frontend/src/services/sticky-notes.service.ts
Due: eslint --cache --fix

fix: add missing StickyNote icon import
  frontend/src/components/StickyNotesModal.tsx
Due: eslint --cache --fix

fix: improve sticky notes modal appearance and transparency
  frontend/src/app/store/sticky-notes.store.ts
  frontend/src/components/StickyNotesModal.tsx
Due: eslint --cache --fix

fix: improve sticky notes modal background, shape, and drag & drop
  frontend/src/app/store/sticky-notes.store.ts
  frontend/src/components/StickyNotesModal.tsx
Due: eslint --cache --fix

fix: resolve sticky notes modal transparency and visibility issues
  frontend/src/components/StickyNotesModal.tsx
Due: eslint --cache --fix

feat: implement enterprise-grade WhatsApp-style chat module
  frontend/src/app/store/chat.store.ts
  frontend/src/components/ChatList.tsx
  frontend/src/components/ChatModal.tsx
  frontend/src/components/ChatWindow.tsx
  frontend/src/components/MessageBubble.tsx
  frontend/src/components/MessageInput.tsx
  frontend/src/components/UserSelector.tsx
  frontend/src/components/layout/Topbar.tsx
Due: eslint --cache --fix

fix: resolve chat module linting and formatting issues
  frontend/src/app/store/chat.store.ts
  frontend/src/components/ChatList.tsx
  frontend/src/components/ChatWindow.tsx
  frontend/src/components/MessageBubble.tsx
  frontend/src/components/MessageInput.tsx
Due: eslint --cache --fix

fix: improve chat modal dimensions for better UX
  frontend/src/components/ChatModal.tsx
Due: eslint --cache --fix

feat: implement comprehensive notifications module with full customization
  frontend/src/app/store/notifications.store.ts
  frontend/src/components/ChatModal.tsx
  frontend/src/components/NotificationItem.tsx
  frontend/src/components/NotificationSettings.tsx
  frontend/src/components/NotificationsModal.tsx
  frontend/src/components/layout/Topbar.tsx
Due: eslint --cache --fix

feat: implement full-page chat module for sidebar navigation
  frontend/src/app/store/notifications.store.ts
  frontend/src/components/ChatModal.tsx
  frontend/src/components/NotificationItem.tsx
  frontend/src/components/NotificationSettings.tsx
  frontend/src/components/NotificationsModal.tsx
  frontend/src/components/layout/Topbar.tsx
  frontend/src/pages/Chat.tsx
Due: eslint --cache --fix

fix: complete demo mode store implementation
  frontend/src/app/store/demo-mode.store.ts
Due: eslint --cache --fix

fix: notification badges and demo data persistence
  frontend/src/app/store/demo-mode.store.ts
  frontend/src/app/store/notifications.store.ts
  frontend/src/components/layout/Topbar.tsx
  frontend/src/modules/chat/ChatPage.tsx
  frontend/src/pages/Chat.tsx
Due: eslint --cache --fix

fix: resolve createdat.gettime() error in notifications store
  frontend/src/app/store/notifications.store.ts
Due: eslint --cache --fix

docs: update changelog with notifications store date handling fix
  CHANGELOG.md
Due: prettier --write

fix: implement real-time chat notification badge updates
  frontend/src/app/store/chat.store.ts
  frontend/src/components/ChatList.tsx
  frontend/src/components/ChatWindow.tsx
Due: eslint --cache --fix

docs: update changelog with chat notification badge real-time fix
  CHANGELOG.md
Due: prettier --write

fix: additional chat modal improvements
  frontend/src/components/ChatModal.tsx
Due: eslint --cache --fix

fix: resolve chat modal not showing chats issue
  frontend/src/components/ChatList.tsx
  frontend/src/components/ChatModal.tsx
Due: eslint --cache --fix

docs: update changelog with chat modal display fix
  CHANGELOG.md
Due: prettier --write

chore: update eslint cache
  .eslintcache
Due: none

feat: redesign chat modal with WhatsApp-like interface and add persistence
  CHANGELOG.md
  frontend/src/app/store/chat.store.ts
  frontend/src/components/ChatList.tsx
  frontend/src/components/ChatModal.tsx
Due: eslint --cache --fix, prettier --write

docs: update changelog with chat modal redesign and persistence
  CHANGELOG.md
Due: prettier --write

feat: implement comprehensive chat system with advanced features
  CHANGELOG.md
  frontend/src/app/store/chat.store.ts
  frontend/src/components/ChatList.tsx
  frontend/src/components/ChatModal.tsx
  frontend/src/components/ChatSettings.tsx
  frontend/src/components/CreateChatGroup.tsx
  frontend/src/components/MessageBubble.tsx
  frontend/src/components/MessageStatus.tsx
Due: eslint --cache --fix, prettier --write

docs: update changelog with comprehensive chat system implementation
  CHANGELOG.md
Due: prettier --write

fix: improve modal backdrop click handling
  frontend/src/components/ChatModal.tsx
  frontend/src/components/ChatSettings.tsx
  frontend/src/components/CreateChatGroup.tsx
  frontend/src/components/UserSelector.tsx
Due: eslint --cache --fix

fix: improve modal backdrop click handling
  CHANGELOG.md
  frontend/src/app/store/chat.store.ts
  frontend/src/components/ChatModal.tsx
  frontend/src/components/ChatSettings.tsx
  frontend/src/components/CreateChatGroup.tsx
  frontend/src/components/MessageBubble.tsx
  frontend/src/components/MessageStatus.tsx
  frontend/src/components/UserSelector.tsx
Due: eslint --cache --fix, prettier --write

fix: improve ChatModal backdrop click handling
  frontend/src/components/ChatModal.tsx
Due: eslint --cache --fix

Path conditions:
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{json,md,yml,yaml,css,scss,html}
