Repository ConstructBMS/ConstructBMS: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

feat: fix dashboard content and scrollbar positioning issues
  frontend/src/index.css
Due: prettier --write

docs: update changelog with dashboard and scrollbar fixes
  CHANGELOG.md
Due: prettier --write

Fix system stability issues
  frontend/src/modules/projects/ProjectsPage.tsx
Due: eslint --cache --fix

Update CHANGELOG with system stability improvements
  CHANGELOG.md
Due: prettier --write

Update CHANGELOG with layout fixes
  CHANGELOG.md
Due: prettier --write

fix(frontend): Prompt-005b fix Tailwind CSS not applying globally [cursor]
  frontend/src/index.css
Due: prettier --write

fix(core): Prompt-NUKE audit & stabilise app (settings/contacts/projects/footer/router/persistence) [cursor]
  CHANGELOG.md
  frontend/package.json
  frontend/src/__tests__/routes.smoke.test.tsx
  frontend/src/app/AppShell.tsx
  frontend/src/app/routes.tsx
  frontend/src/components/feedback/ErrorBoundary.tsx
  frontend/src/components/feedback/__tests__/ErrorBoundary.test.tsx
  frontend/src/components/layout/Footer.tsx
  frontend/src/components/layout/Sidebar.tsx
  frontend/src/components/ui/separator.tsx
  frontend/src/components/ui/slider.tsx
  frontend/src/components/ui/toggle.tsx
  frontend/src/lib/data/__tests__/projects.dal.test.ts
  frontend/src/lib/data/projects.ts
  frontend/src/modules/contacts/ContactForm.tsx
  frontend/src/modules/contacts/ContactsPage.tsx
  frontend/src/modules/contacts/__tests__/contacts.filter.test.tsx
  frontend/src/modules/contacts/pages/ClientsPage.tsx
  frontend/src/modules/contacts/pages/ConsultantsPage.tsx
  frontend/src/modules/contacts/pages/ContractorsPage.tsx
  frontend/src/modules/contacts/store.ts
  frontend/src/modules/projects/store.ts
  frontend/src/modules/settings/SettingsPage.tsx
  frontend/src/modules/settings/sections/About.tsx
  frontend/src/modules/settings/sections/CRM.tsx
  frontend/src/modules/settings/sections/Footer.tsx
  frontend/src/modules/settings/sections/index.ts
  frontend/src/test/setup.ts
  frontend/vitest.config.ts
  node_modules/.modules.yaml
  node_modules/.pnpm-workspace-state-v1.json
  node_modules/.pnpm/lock.yaml
  node_modules/.pnpm/node_modules/ansi-styles
  node_modules/.pnpm/node_modules/iconv-lite
  node_modules/.pnpm/node_modules/tr46
  node_modules/.pnpm/node_modules/webidl-conversions
  node_modules/.pnpm/node_modules/whatwg-url
  pnpm-lock.yaml
Due: eslint --cache --fix, prettier --write

fix: resolve React Router warnings and Supabase schema issues
  frontend/src/app/AppShell.tsx
  frontend/src/lib/data/projects.ts
  frontend/src/modules/projects/ProjectsPage.tsx
Due: eslint --cache --fix

fix: complete contacts and footer fixes
  frontend/src/components/layout/Footer.tsx
  frontend/src/lib/permissions/hooks.tsx
  frontend/src/modules/contacts/pages/ClientsPage.tsx
  frontend/src/modules/contacts/pages/ConsultantsPage.tsx
  frontend/src/modules/contacts/pages/ContractorsPage.tsx
Due: eslint --cache --fix

fix: resolve contacts display and footer system issues
  frontend/src/app/AppShell.tsx
  frontend/src/app/routes.tsx
  frontend/src/app/store/ui/footer.store.ts
  frontend/src/components/layout/Footer.tsx
  frontend/src/lib/permissions/evaluator.ts
  frontend/src/lib/permissions/hooks.tsx
  frontend/src/modules/contacts/pages/ClientsPage.tsx
  frontend/src/modules/contacts/pages/ConsultantsPage.tsx
  frontend/src/modules/contacts/pages/ContractorsPage.tsx
  frontend/src/modules/contacts/store.ts
  frontend/src/modules/projects/ProjectsPage.tsx
  frontend/src/modules/settings/sections/Footer.tsx
Due: eslint --cache --fix

fix: add missing AuthProvider to AppShell
  frontend/src/app/AppShell.tsx
Due: eslint --cache --fix

feat: implement active user menu with dropdown
  frontend/src/components/layout/Topbar.tsx
  frontend/src/components/layout/UserMenu.tsx
Due: eslint --cache --fix

fix: resolve merge conflicts and finalize user menu
  frontend/src/components/layout/UserMenu.tsx
Due: eslint --cache --fix

fix: add missing login route to enable login button functionality
  frontend/src/app/routes.tsx
Due: eslint --cache --fix

fix: correct contacts data structure to show content on all pages
  frontend/src/modules/contacts/store.ts
Due: eslint --cache --fix

chore: update React Router to v6.30.1 to resolve future flag warnings
  frontend/package.json
  frontend/src/app/AppShell.tsx
  node_modules/.modules.yaml
  node_modules/.pnpm-workspace-state-v1.json
  node_modules/.pnpm/lock.yaml
  node_modules/.pnpm/node_modules/.bin/parser
  node_modules/.pnpm/node_modules/@babel/parser
  node_modules/.pnpm/node_modules/@babel/types
  pnpm-lock.yaml
Due: eslint --cache --fix, prettier --write

fix: resolve multiple UI issues
  frontend/src/app/AppShell.tsx
  frontend/src/modules/settings/SettingsPage.tsx
Due: eslint --cache --fix

fix: resolve Switch component and React Router warnings
  frontend/package.json
  frontend/src/app/AppShell.tsx
  frontend/src/components/ui/switch.tsx
  frontend/src/modules/settings/SettingsPage.tsx
  node_modules/.modules.yaml
  node_modules/.pnpm-workspace-state-v1.json
  node_modules/.pnpm/lock.yaml
  node_modules/.pnpm/node_modules/@remix-run/router
  node_modules/.pnpm/node_modules/cookie
  node_modules/.pnpm/node_modules/react-router
  node_modules/.pnpm/node_modules/react-router-dom
  pnpm-lock.yaml
Due: eslint --cache --fix, prettier --write

docs: update CHANGELOG with latest fixes
  CHANGELOG.md
Due: prettier --write

fix: improve Feature Flags UI
  frontend/src/components/ui/switch.tsx
  frontend/src/modules/settings/sections/FeatureFlags.tsx
Due: eslint --cache --fix

feat: implement comprehensive enterprise-grade permissions system
  frontend/src/app/store/enterprise-permissions.store.ts
  frontend/src/components/ui/avatar.tsx
  frontend/src/components/ui/index.ts
  frontend/src/lib/types/enterprise-permissions.ts
  frontend/src/modules/settings/SettingsPage.tsx
  frontend/src/modules/settings/sections/Permissions.tsx
  frontend/src/modules/settings/sections/UsersAndRoles.tsx
  frontend/src/modules/settings/sections/index.ts
Due: eslint --cache --fix

fix: resolve build issues and complete enterprise permissions
  frontend/src/app/store/enterprise-permissions.store.ts
  frontend/src/lib/types/enterprise-permissions.ts
  frontend/src/modules/settings/sections/Permissions.tsx
  frontend/src/modules/settings/sections/UsersAndRoles.tsx
Due: eslint --cache --fix

docs: update CHANGELOG with enterprise permissions system
  CHANGELOG.md
Due: prettier --write

fix: resolve dark mode dropdown visibility and contacts access issues
  frontend/src/components/ui/select.tsx
  frontend/src/contexts/AuthContext.tsx
Due: eslint --cache --fix

docs: update CHANGELOG with dark mode and contacts fixes
  CHANGELOG.md
Due: prettier --write

fix: upgrade to React Router v7 data router API to eliminate future flag warnings
  frontend/src/app/AppShell.tsx
  frontend/src/app/routes.tsx
Due: eslint --cache --fix

docs: update CHANGELOG with React Router v7 upgrade
  CHANGELOG.md
Due: prettier --write

debug: add comprehensive debugging to contacts pages
  frontend/src/modules/contacts/ContactsPage.tsx
  frontend/src/modules/contacts/pages/ClientsPage.tsx
Due: eslint --cache --fix

fix: resolve ThemeProvider context issue and add contacts debugging
  frontend/src/app/AppShell.tsx
  frontend/src/modules/contacts/ContactsPage.tsx
  frontend/src/modules/contacts/pages/ClientsPage.tsx
Due: eslint --cache --fix

fix: remove duplicate AppRoutes import causing build error
  frontend/src/app/AppShell.tsx
Due: eslint --cache --fix

fix: move router creation inside AppShell component to ensure future flags are applied
  frontend/src/app/AppShell.tsx
  node_modules/.pnpm-workspace-state-v1.json
Due: eslint --cache --fix, prettier --write

debug: add comprehensive debugging to contacts components
  frontend/src/modules/contacts/ContactsGrid.tsx
  frontend/src/modules/contacts/ContactsList.tsx
Due: eslint --cache --fix

fix: add Suspense boundaries to lazy-loaded routes to prevent suspension errors
  frontend/src/app/routes.tsx
Due: eslint --cache --fix

fix: correct contacts filtering logic and add comprehensive debugging
  frontend/src/modules/contacts/ContactsGrid.tsx
  frontend/src/modules/contacts/ContactsList.tsx
  frontend/src/modules/contacts/ContactsPage.tsx
Due: eslint --cache --fix

fix: move router creation outside component to ensure future flags are applied
  frontend/src/app/AppShell.tsx
Due: eslint --cache --fix

fix: final attempt to resolve React Router v7 future flag warnings
  frontend/src/app/AppShell.tsx
Due: eslint --cache --fix

fix: initialize default permission rules on app startup
  frontend/src/app/AppShell.tsx
Due: eslint --cache --fix

fix: resolve TypeError in permission evaluation
  frontend/src/lib/permissions/evaluator.ts
  frontend/src/lib/permissions/hooks.tsx
Due: eslint --cache --fix

fix: add default export to ContactsPage component
  frontend/src/modules/contacts/ContactsPage.tsx
Due: eslint --cache --fix

Path conditions:
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{json,md,yml,yaml,css,scss,html}
