Repository ConstructBMS/ConstructBMS: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --cache --fix"],
  "*.{json,md,yml,yaml,css,scss,html}": ["prettier --write"]
}

Ultra-aggressive CSS targeting for drop zone indicator
  frontend/src/components/StickyNotesModal.tsx
Due: eslint --cache --fix

Add custom sticky note classes for better CSS targeting
  frontend/src/components/StickyNotesModal.tsx
Due: eslint --cache --fix

Nuclear option: Ultra-aggressive CSS targeting for drag styling
  frontend/src/components/StickyNotesModal.tsx
Due: eslint --cache --fix

JavaScript-based approach to force drag styling
  frontend/src/components/StickyNotesModal.tsx
Due: eslint --cache --fix

feat: make grid view the default in sticky notes modal
  frontend/src/components/StickyNotesModal.tsx
Due: eslint --cache --fix

docs: update CHANGELOG for sticky notes grid view default
  CHANGELOG.md
Due: prettier --write

feat: configure sticky notes grid as 2 rows by 3 columns
  frontend/src/components/StickyNotesModal.tsx
Due: eslint --cache --fix

docs: update CHANGELOG for sticky notes 2x3 grid layout
  CHANGELOG.md
Due: prettier --write

fix: improve sticky notes 2x3 grid layout
  frontend/src/components/StickyNotesModal.tsx
Due: eslint --cache --fix

docs: update CHANGELOG for improved sticky notes 2x3 grid layout
  CHANGELOG.md
Due: prettier --write

fix: revert sticky note size to original dimensions
  frontend/src/components/StickyNotesModal.tsx
Due: eslint --cache --fix

feat: enhance sticky notes color picker system
  frontend/src/components/StickyNotesModal.tsx
Due: eslint --cache --fix

docs: update CHANGELOG for enhanced sticky notes color system
  CHANGELOG.md
Due: prettier --write

feat: enhance sticky notes formatting system with comprehensive tools
  frontend/src/components/StickyNotesModal.tsx
Due: eslint --cache --fix

docs: update CHANGELOG for enhanced sticky notes formatting system
  CHANGELOG.md
Due: prettier --write

feat: redesign sticky notes editing workflow
  frontend/src/components/StickyNotesModal.tsx
Due: eslint --cache --fix

docs: update CHANGELOG for enhanced sticky notes editing workflow
  CHANGELOG.md
Due: prettier --write

fix: make edit button and double-click work in grid view
  frontend/src/components/StickyNotesModal.tsx
Due: eslint --cache --fix

feat: implement inline editing for sticky notes
  frontend/src/components/StickyNotesModal.tsx
Due: eslint --cache --fix

fix: add fallback handling for missing database columns
  MIGRATION_GUIDE.md
  frontend/src/components/StickyNotesModal.tsx
  frontend/src/services/sticky-notes.service.ts
  scripts/run-migration.js
Due: eslint --cache --fix, prettier --write

fix: resolve migration dependency issues
  MIGRATION_GUIDE.md
  database/migrations/2025-01-21_sticky-notes-simple.sql
  database/migrations/2025-01-21_sticky-notes.sql
  scripts/run-migration.js
Due: eslint --cache --fix, prettier --write

fix: prevent drag-and-drop interference during inline editing
  frontend/src/components/StickyNotesModal.tsx
Due: eslint --cache --fix

fix: resolve drag handle errors in drag-and-drop system
  frontend/src/components/StickyNotesModal.tsx
Due: eslint --cache --fix

fix: isolate drag handle to prevent jumping during editing
  frontend/src/components/StickyNotesModal.tsx
Due: eslint --cache --fix

fix: always provide drag handle props to prevent library errors
  frontend/src/components/StickyNotesModal.tsx
Due: eslint --cache --fix

fix: move drag handle outside conditional rendering to prevent library errors
  frontend/src/components/StickyNotesModal.tsx
Due: eslint --cache --fix

fix: prevent color picker from triggering drag events
  frontend/src/components/StickyNotesModal.tsx
Due: eslint --cache --fix

fix: completely disable drag handle and prevent all drag events during color changes
  frontend/src/components/StickyNotesModal.tsx
Due: eslint --cache --fix

fix: completely separate editing notes from drag-and-drop system
  frontend/src/components/StickyNotesModal.tsx
Due: eslint --cache --fix

fix: resolve syntax error in StickyNotesModal.tsx
  frontend/src/components/StickyNotesModal.tsx
Due: eslint --cache --fix

fix: prevent color picker from triggering drag events with simple CSS solution
  frontend/src/components/StickyNotesModal.tsx
Due: eslint --cache --fix

fix: completely remove drag handle when editing and add comprehensive event prevention
  frontend/src/components/StickyNotesModal.tsx
Due: eslint --cache --fix

fix: completely disable drag-and-drop when editing to prevent card jumping
  frontend/src/components/StickyNotesModal.tsx
Due: eslint --cache --fix

fix: resolve JSX syntax errors and database UUID issues
  frontend/src/components/StickyNotesModal.tsx
Due: eslint --cache --fix

fix: handle invalid UUID IDs and prevent database errors
  frontend/src/components/StickyNotesModal.tsx
  frontend/src/services/sticky-notes.service.ts
Due: eslint --cache --fix

fix: handle database query errors and improve error handling
  frontend/src/services/sticky-notes.service.ts
Due: eslint --cache --fix

fix: improve database update handling for sticky notes
  frontend/src/services/sticky-notes.service.ts
Due: eslint --cache --fix

fix: eliminate sticky note jumping during color changes
  frontend/src/components/StickyNotesModal.tsx
Due: eslint --cache --fix

improve sticky note UX: remove saving indicator, enhance drag handle, add double-click edit
  frontend/src/components/StickyNotesModal.tsx
Due: eslint --cache --fix
