Repository ConstructBMS/ConstructBMS: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --cache --fix"],
  "*.{json,md,yml,yaml,css,scss,html}": ["prettier --write"]
}

fix: update test file formatting
  frontend/src/modules/contacts/__tests__/ContactsPage.test.tsx
Due: eslint --cache --fix

feat: update ClientsPage styling to match app design system
  frontend/src/modules/contacts/pages/ClientsPage.tsx
  frontend/src/modules/contacts/pages/ContractorsPage.tsx
Due: eslint --cache --fix

feat: update ContractorsPage and ConsultantsPage styling to match app design system
  frontend/src/modules/contacts/pages/ConsultantsPage.tsx
  frontend/src/modules/contacts/pages/ContractorsPage.tsx
Due: eslint --cache --fix

fix: add missing Briefcase import to ContractorsPage
  frontend/src/modules/contacts/pages/ContractorsPage.tsx
Due: eslint --cache --fix

fix: update dashboard sidebar link to /dashboard-home
  frontend/src/components/layout/Sidebar.tsx
Due: eslint --cache --fix

fix: revert dashboard link to /dashboard to fix 404
  frontend/src/components/layout/Sidebar.tsx
Due: eslint --cache --fix

feat: build comprehensive dashboard system with tabbed interface
  frontend/package.json
  frontend/src/app/routes.tsx
  frontend/src/components/layout/Sidebar.tsx
  frontend/src/components/ui/dropdown-menu.tsx
  frontend/src/components/ui/index.ts
  frontend/src/modules/dashboard/DashboardPage.tsx
  frontend/src/modules/dashboard/components/CreateDashboardDialog.tsx
  frontend/src/modules/dashboard/components/DashboardWidgets.tsx
  frontend/src/modules/dashboard/components/widgets/CustomWidget.tsx
  frontend/src/modules/dashboard/components/widgets/ListWidget.tsx
  frontend/src/modules/dashboard/components/widgets/StatsWidget.tsx
  frontend/src/modules/dashboard/components/widgets/TableWidget.tsx
  frontend/src/modules/dashboard/store.ts
Due: eslint --cache --fix, prettier --write

chore: update pnpm lock file for dashboard dependencies
  pnpm-lock.yaml
Due: prettier --write

docs: update CHANGELOG with dashboard fixes
  CHANGELOG.md
Due: prettier --write

fix: add missing DialogTrigger export to resolve dashboard loading error
  frontend/src/components/ui/dialog.tsx
  frontend/src/components/ui/index.ts
Due: eslint --cache --fix

docs: update CHANGELOG with DialogTrigger fix
  CHANGELOG.md
Due: prettier --write

fix: resolve hot reload issues and development stability
  eslint.config.js
  frontend/src/modules/dashboard/DashboardPage.tsx
  frontend/vite.config.ts
  package.json
Due: eslint --cache --fix, prettier --write

docs: update changelog with hot reload fixes
  CHANGELOG.md
Due: prettier --write

fix: comprehensive codebase cleanup and optimization
  .husky/pre-commit
  frontend/src/app/routes.tsx
  frontend/src/app/store/enterprise-permissions.store.ts
  frontend/src/app/store/ui/footer.store.ts
  frontend/src/app/store/ui/theme.store.ts
  frontend/src/components/layout/Topbar.tsx
  frontend/src/components/ui/button.tsx
  frontend/src/components/ui/dialog.tsx
  frontend/src/components/ui/dropdown-menu.tsx
  frontend/src/lib/permissions/evaluator.ts
  frontend/src/lib/permissions/hooks.tsx
  frontend/src/modules/contacts/ContactsGrid.tsx
  frontend/src/modules/contacts/ContactsList.tsx
  frontend/src/modules/contacts/ContactsPage.tsx
  frontend/src/modules/contacts/pages/ClientsPage.tsx
  frontend/src/modules/contacts/pages/ConsultantsPage.tsx
  frontend/src/modules/contacts/pages/ContractorsPage.tsx
  frontend/src/modules/dashboard/DashboardPage.tsx
  frontend/src/modules/dashboard/components/CreateDashboardDialog.tsx
  frontend/src/modules/dashboard/components/DashboardWidgets.tsx
  frontend/src/modules/dashboard/components/widgets/CustomWidget.tsx
  frontend/src/modules/dashboard/components/widgets/ListWidget.tsx
  frontend/src/modules/dashboard/components/widgets/StatsWidget.tsx
  frontend/src/modules/dashboard/components/widgets/TableWidget.tsx
  frontend/src/modules/dashboard/store.ts
  frontend/src/modules/projects/ProjectsPage.tsx
  frontend/src/modules/projects/store.ts
  frontend/src/modules/settings/sections/CRM.tsx
  frontend/src/modules/settings/sections/FeatureFlags.tsx
  frontend/src/test/setup.ts
Due: eslint --cache --fix

docs: update changelog with comprehensive cleanup results
  CHANGELOG.md
Due: prettier --write

fix: make dashboard add button visible inline with tabs
  frontend/src/modules/dashboard/DashboardPage.tsx
Due: eslint --cache --fix

fix: properly center dashboard tabs with add button on right
  frontend/src/modules/dashboard/DashboardPage.tsx
Due: eslint --cache --fix

feat: replace ellipsis menu with add dashboard button
  frontend/src/modules/dashboard/DashboardPage.tsx
Due: eslint --cache --fix

fix: make add dashboard button visible and properly positioned
  frontend/src/modules/dashboard/DashboardPage.tsx
Due: eslint --cache --fix

feat: create comprehensive dashboard builder
  frontend/src/modules/dashboard/components/CreateDashboardDialog.tsx
Due: eslint --cache --fix

fix: restore functional add dashboard button with dialog
  frontend/src/modules/dashboard/DashboardPage.tsx
Due: eslint --cache --fix

fix: make add dashboard button impossible to miss
  frontend/src/modules/dashboard/DashboardPage.tsx
Due: eslint --cache --fix

feat: comprehensive dashboard system with enhanced widgets and inline editing
  frontend/src/modules/dashboard/DashboardPage.tsx
  frontend/src/modules/dashboard/store.ts
Due: eslint --cache --fix

fix: resolve remaining dashboard dialog changes
  frontend/src/modules/dashboard/components/CreateDashboardDialog.tsx
Due: eslint --cache --fix

docs: update changelog with comprehensive dashboard system features
  CHANGELOG.md
Due: prettier --write

fix: dashboard tab layout and button positioning
  frontend/src/modules/dashboard/DashboardPage.tsx
Due: eslint --cache --fix

fix: dashboard button positioning and edit functionality
  frontend/src/components/layout/Page.tsx
  frontend/src/lib/types/core.ts
  frontend/src/modules/dashboard/DashboardPage.tsx
  frontend/src/modules/dashboard/store.ts
Due: eslint --cache --fix

fix: resolve remaining dashboard page changes
  frontend/src/modules/dashboard/DashboardPage.tsx
Due: eslint --cache --fix

debug: make dashboard buttons more visible for testing
  frontend/src/modules/dashboard/DashboardPage.tsx
Due: eslint --cache --fix

fix: final dashboard button positioning and hover behavior
  frontend/src/modules/dashboard/DashboardPage.tsx
Due: eslint --cache --fix

fix: show edit/delete buttons on all dashboard tabs
  frontend/src/modules/dashboard/DashboardPage.tsx
Due: eslint --cache --fix

debug: add console logging and test button to diagnose issues
  frontend/src/modules/dashboard/DashboardPage.tsx
Due: eslint --cache --fix

feat: implement comprehensive dashboard builder wizard
  frontend/src/modules/dashboard/DashboardPage.tsx
  frontend/src/modules/dashboard/components/DashboardBuilder.tsx
Due: eslint --cache --fix

feat: implement dashboard creation modal
  frontend/src/modules/dashboard/DashboardPage.tsx
Due: eslint --cache --fix

feat: implement enhanced widget styling with colors and gradients
  frontend/src/modules/dashboard/components/widgets/CustomWidget.tsx
  frontend/src/modules/dashboard/components/widgets/ListWidget.tsx
  frontend/src/modules/dashboard/components/widgets/StatsWidget.tsx
  frontend/src/modules/dashboard/components/widgets/TableWidget.tsx
  frontend/src/modules/dashboard/store.ts
Due: eslint --cache --fix

debug: test Add Dashboard button without CreateDashboardDialog wrapper
  frontend/src/modules/dashboard/DashboardPage.tsx
Due: eslint --cache --fix

fix: implement simple Add Dashboard button with prompt
  frontend/src/modules/dashboard/DashboardPage.tsx
Due: eslint --cache --fix

debug: add emergency test button to diagnose CreateDashboardDialog issue
  frontend/src/modules/dashboard/DashboardPage.tsx
Due: eslint --cache --fix

fix: restore CreateDashboardDialog functionality
  frontend/src/modules/dashboard/DashboardPage.tsx
Due: eslint --cache --fix

debug: add test button to diagnose Add Dashboard button issue
  frontend/src/modules/dashboard/DashboardPage.tsx
Due: eslint --cache --fix
