Repository ConstructBMS/ConstructBMS: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --cache --fix"],
  "*.{json,md,yml,yaml,css,scss,html}": ["prettier --write"]
}

fix: update eslint config for development
  commitlint.config.js
  eslint.config.js
Due: eslint --cache --fix

test: mirror workflow verification
  README.md
Due: prettier --write

fix: update ci/cd workflows to use pnpm instead of npm
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
Due: prettier --write

fix: add prettier scripts and update ci workflow to run in workspaces
  .github/workflows/ci.yml
  backend/package.json
  frontend/package.json
Due: prettier --write

test: trigger mirror workflow after cleanup
  README.md
Due: prettier --write

fix: improve mirror workflow with better error handling and debugging
  .github/workflows/mirror-test.yml
  .github/workflows/mirror.yml
Due: prettier --write

feat: implement frontend-focused development structure and ci alignment
  .github/workflows/ci.yml
  FRONTEND_DEVELOPMENT.md
  frontend/src/app/README.md
  frontend/src/lib/README.md
  frontend/src/modules/permissions/README.md
  frontend/src/modules/settings/README.md
  package.json
Due: prettier --write

fix: replace anchor tags with react router links for smooth navigation
  .eslintcache
  frontend/src/app/routes.tsx
  frontend/src/components/layout/Sidebar.tsx
  frontend/src/components/layout/Topbar.tsx
Due: eslint --cache --fix

fix: correct import paths and add missing react import for build
  .eslintcache
  frontend/src/app/routes.tsx
  frontend/src/components/layout/Sidebar.tsx
Due: eslint --cache --fix

fix: add missing react imports for build resolution
  .eslintcache
  frontend/src/components/layout/Sidebar.tsx
Due: eslint --cache --fix

feat: update dark theme to navy background and fix react imports
  .eslintcache
  frontend/src/index.css
Due: prettier --write

feat(frontend): prompt-002 permissions v0 (rbac+abac) [cursor]
  CHANGELOG.md
  database/migrations/2025-09-06_permissions.sql
  docs/app-architecture.md
  docs/permissions.md
  frontend/README.md
  frontend/src/lib/permissions/Guard.tsx
  frontend/src/lib/permissions/__tests__/evaluator.test.ts
  frontend/src/lib/permissions/evaluator.ts
  frontend/src/lib/permissions/hooks.tsx
  frontend/src/lib/types/permissions.ts
  frontend/src/modules/permissions/PermissionsPage.tsx
  frontend/src/modules/permissions/seeds/defaultRoles.json
  frontend/src/modules/permissions/store.ts
  node_modules/.modules.yaml
  node_modules/.pnpm-workspace-state-v1.json
Due: eslint --cache --fix, prettier --write

fix(frontend): correct ui component import paths
  .eslintcache
  frontend/src/components/layout/Sidebar.tsx
  frontend/src/components/ui/index.ts
  frontend/src/lib/permissions/Guard.tsx
Due: eslint --cache --fix

fix(frontend): update topbar ui component imports
  .eslintcache
  frontend/src/components/layout/Sidebar.tsx
  frontend/src/components/layout/Topbar.tsx
  frontend/src/components/ui/index.ts
Due: eslint --cache --fix

fix(frontend): standardize ui component imports across all modules
  .eslintcache
  frontend/src/components/ui/index.ts
  frontend/src/modules/chat/ChatPage.tsx
  frontend/src/modules/contacts/ContactsPage.tsx
  frontend/src/modules/dashboard/DashboardPage.tsx
  frontend/src/modules/documents/DocumentsPage.tsx
  frontend/src/modules/estimates/EstimatesPage.tsx
  frontend/src/modules/notes/NotesPage.tsx
  frontend/src/modules/permissions/PermissionsPage.tsx
  frontend/src/modules/pipeline/PipelinePage.tsx
  frontend/src/modules/portal/PortalPage.tsx
  frontend/src/modules/programme/ProgrammePage.tsx
  frontend/src/modules/projects/ProjectsPage.tsx
  frontend/src/modules/purchaseOrders/PurchaseOrdersPage.tsx
  frontend/src/modules/settings/SettingsPage.tsx
  frontend/src/modules/workflows/WorkflowsPage.tsx
Due: eslint --cache --fix

chore(ci): fix auto-summary workflow for reliable reports
  .github/workflows/auto-summary.yml
  .gitignore
  DEVELOPMENT_GUIDE.md
  frontend/src/modules/dashboard/DashboardPage.tsx
  frontend/src/modules/estimates/EstimatesPage.tsx
  frontend/src/modules/projects/ProjectsPage.tsx
Due: eslint --cache --fix, prettier --write

feat(frontend): prompt-003 settings skeleton
  CHANGELOG.md
  docs/app-architecture.md
  docs/settings.md
  frontend/README.md
  frontend/src/app/store/auth/org.store.ts
  frontend/src/app/store/featureFlags.store.ts
  frontend/src/components/layout/Sidebar.tsx
  frontend/src/components/layout/Topbar.tsx
  frontend/src/components/ui/index.ts
  frontend/src/lib/utils/__tests__/featureFlags.test.ts
  frontend/src/lib/utils/featureFlags.ts
  frontend/src/modules/settings/SettingsPage.tsx
  frontend/src/modules/settings/sections/Appearance.tsx
  frontend/src/modules/settings/sections/Developer.tsx
  frontend/src/modules/settings/sections/FeatureFlags.tsx
  frontend/src/modules/settings/sections/General.tsx
  frontend/src/modules/settings/sections/Integrations.tsx
Due: eslint --cache --fix, prettier --write

fix(frontend): resolve eslint stalling and typescript warnings
  .eslintcache
  frontend/package.json
  frontend/tsconfig.app.json
Due: prettier --write

fix: update dev-manager script permissions
  scripts/dev-manager.sh
Due: none

feat: add comprehensive elifecle error prevention system
  docs/ELIFECYCLE_ERRORS.md
  frontend/package.json
  package.json
  scripts/dev-manager.sh
Due: prettier --write

fix: resolve quality check failures and improve eslint config
  eslint.config.js
Due: eslint --cache --fix

feat(frontend): prompt-004 contacts module [cursor]
  CHANGELOG.md
  database/migrations/2025-09-07_contacts.sql
  docs/app-architecture.md
  docs/contacts.md
  frontend/README.md
  frontend/src/app/routes.tsx
  frontend/src/components/layout/Sidebar.tsx
  frontend/src/components/ui/index.ts
  frontend/src/lib/types/contacts.ts
  frontend/src/lib/utils/featureFlags.ts
  frontend/src/modules/contacts/ContactForm.tsx
  frontend/src/modules/contacts/ContactsGrid.tsx
  frontend/src/modules/contacts/ContactsList.tsx
  frontend/src/modules/contacts/ContactsPage.tsx
  frontend/src/modules/contacts/__tests__/store.test.ts
  frontend/src/modules/contacts/store.ts
  node_modules/.pnpm-workspace-state-v1.json
  reports/10244f250e63317427b1240782d31c7b2a8f1898.md
  reports/62b90a9bf934c809681cce893db2a7f78e4627a1.md
  reports/84e3757ba9e34b7ea42c2f4e845f64a656e0e3fa.md
  reports/LATEST.md
  reports/f2a128d684b65c5e744ec7696622bf8b54114647.md
Due: eslint --cache --fix, prettier --write

fix(frontend): resolve infinite re-render loop and missing imports in Projects Module [cursor]
  database/migrations/2025-09-08_projects.sql
  frontend/src/app/routes.tsx
  frontend/src/components/layout/Sidebar.tsx
  frontend/src/components/ui/index.ts
  frontend/src/lib/data/projects.ts
  frontend/src/lib/types/projects.ts
  frontend/src/lib/utils/featureFlags.ts
  frontend/src/lib/utils/formatters.ts
  frontend/src/modules/projects/ProjectDetailPage.tsx
  frontend/src/modules/projects/ProjectForm.tsx
  frontend/src/modules/projects/ProjectsFilters.tsx
  frontend/src/modules/projects/ProjectsPage.tsx
  frontend/src/modules/projects/__tests__/store.test.ts
  frontend/src/modules/projects/store.ts
  frontend/src/modules/projects/views/ProjectsGrid.tsx
  frontend/src/modules/projects/views/ProjectsKanban.tsx
  frontend/src/modules/projects/views/ProjectsList.tsx
  frontend/vite.config.ts
  node_modules/.modules.yaml
  node_modules/.pnpm-workspace-state-v1.json
  node_modules/.pnpm/node_modules/@types/node
  node_modules/.pnpm/node_modules/undici-types
Due: eslint --cache --fix, prettier --write

docs: update CHANGELOG with Projects Module fixes
  CHANGELOG.md
Due: prettier --write

fix(projects): resolve infinite re-render loop and authentication issues
  backend/src/routes/projects.ts
  backend/src/types/index.ts
  frontend/src/lib/data/projects.ts
  frontend/src/modules/projects/ProjectsPage.tsx
  node_modules/.pnpm-workspace-state-v1.json
Due: eslint --cache --fix, prettier --write

fix(projects): add mock data fallback for demo mode
  CHANGELOG.md
  backend/src/routes/projects.ts
  node_modules/.pnpm-workspace-state-v1.json
Due: eslint --cache --fix, prettier --write

fix(projects): resolve infinite loading loop and demo auth
  .eslintcache
  CHANGELOG.md
  backend/src/middleware/auth.ts
  backend/src/routes/projects.ts
  frontend/src/modules/projects/ProjectsPage.tsx
  frontend/vite.config.ts
Due: eslint --cache --fix, prettier --write

docs: update changelog with projects module fixes
  CHANGELOG.md
Due: prettier --write

fix(projects): resolve infinite loop using getState() for stable function references
  frontend/src/modules/projects/ProjectsPage.tsx
Due: eslint --cache --fix

fix(projects): aggressive loop prevention with refs and debouncing
  .eslintcache
  frontend/src/modules/projects/ProjectsPage.tsx
  frontend/src/modules/projects/store.ts
Due: eslint --cache --fix

fix(projects): complete isolation approach to stop infinite loops
  frontend/src/modules/projects/ProjectsPage.tsx
Due: eslint --cache --fix

fix(sidebar): add expand/collapse functionality for parent/child navigation
  frontend/src/components/layout/Sidebar.tsx
Due: eslint --cache --fix

feat(sidebar): add child menu items for Contacts section
  frontend/src/components/layout/Sidebar.tsx
Due: eslint --cache --fix

fix(sidebar): resolve white screen and update Contacts child items
  frontend/src/components/layout/Sidebar.tsx
Due: eslint --cache --fix

feat(contacts): implement category-based filtering for Clients, Contractors, Consultants
  frontend/src/lib/types/contacts.ts
  frontend/src/modules/contacts/ContactForm.tsx
  frontend/src/modules/contacts/ContactsPage.tsx
  frontend/src/modules/contacts/store.ts
Due: eslint --cache --fix

debug(contacts): add debugging logs to identify blank pages issue
  frontend/src/modules/contacts/ContactsPage.tsx
  frontend/src/modules/contacts/store.ts
Due: eslint --cache --fix

fix(contacts): resolve syntax error in store that was causing build failure
  frontend/src/modules/contacts/store.ts
Due: eslint --cache --fix

fix(contacts): properly fix store syntax error and clear cache
  frontend/src/modules/contacts/store.ts
Due: eslint --cache --fix

docs: update changelog with nuclear cleanup details
  CHANGELOG.md
Due: prettier --write
