Repository ConstructBMS/ConstructBMS: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --cache --fix"],
  "*.{json,md,yml,yaml,css,scss,html}": ["prettier --write"]
}

debug: temporarily remove Guard components from contacts routes
  frontend/src/app/routes.tsx
Due: eslint --cache --fix

docs: update CHANGELOG with contacts lazy loading fix
  CHANGELOG.md
Due: prettier --write

fix: resolve Button asChild prop and permission hook parameter issues
  frontend/src/components/ui/button.tsx
  frontend/src/modules/projects/ProjectDetailPage.tsx
  frontend/src/modules/projects/ProjectsPage.tsx
Due: eslint --cache --fix

fix: replace HTML select and checkbox with custom UI components in Footer settings
  frontend/src/modules/settings/sections/Footer.tsx
Due: eslint --cache --fix

feat: add footer back to app and create live preview in settings
  frontend/src/app/AppShell.tsx
  frontend/src/modules/settings/sections/Footer.tsx
Due: eslint --cache --fix

fix: resolve merge conflicts and complete footer implementation
  frontend/src/app/AppShell.tsx
Due: eslint --cache --fix

fix: resolve naming conflict and clean up imports
  frontend/src/modules/contacts/ContactsList.tsx
  frontend/src/modules/contacts/ContactsPage.tsx
  frontend/src/modules/settings/sections/Footer.tsx
  frontend/src/modules/settings/sections/index.ts
Due: eslint --cache --fix

feat: simplify theme toggle to only light/dark modes
  frontend/src/app/store/ui/theme.store.ts
  frontend/src/components/layout/Topbar.tsx
  frontend/src/lib/types/core.ts
  frontend/src/modules/settings/sections/Appearance.tsx
Due: eslint --cache --fix

fix: add scroll restoration to AppLayout component
  frontend/src/app/AppShell.tsx
Due: eslint --cache --fix

fix: ensure page starts at top on refresh
  frontend/src/app/AppShell.tsx
  frontend/src/index.css
Due: eslint --cache --fix, prettier --write

fix: implement aggressive scroll restoration to prevent page refresh offset
  frontend/index.html
  frontend/src/app/AppShell.tsx
  frontend/src/index.css
  frontend/src/main.tsx
Due: eslint --cache --fix, prettier --write

fix: add additional scroll restoration to AppShell
  frontend/src/app/AppShell.tsx
Due: eslint --cache --fix

fix: update CRM types and store imports
  frontend/src/lib/types/crm.ts
  frontend/src/modules/settings/store.ts
Due: eslint --cache --fix

feat: build comprehensive CRM settings page with full functionality
  frontend/src/lib/types/crm.ts
  frontend/src/modules/settings/sections/CRM.tsx
  frontend/src/modules/settings/store.ts
Due: eslint --cache --fix

fix: resolve CRM settings store import error and scroll restoration issues
  frontend/index.html
  frontend/src/main.tsx
  frontend/src/modules/settings/store.ts
Due: eslint --cache --fix, prettier --write

fix: update HTML scroll restoration script with DOM ready checks
  frontend/index.html
Due: prettier --write

feat: set default currency to GBP and default location to UK
  frontend/src/modules/settings/sections/General.tsx
Due: eslint --cache --fix

fix: update contact page imports and component structure
  frontend/src/modules/contacts/pages/ClientsPage.tsx
  frontend/src/modules/contacts/pages/ConsultantsPage.tsx
  frontend/src/modules/contacts/pages/ContractorsPage.tsx
Due: eslint --cache --fix

feat: restructure contacts system with dedicated CRM management pages
  frontend/src/modules/contacts/ContactsPage.tsx
  frontend/src/modules/contacts/pages/ClientsPage.tsx
  frontend/src/modules/contacts/pages/ConsultantsPage.tsx
  frontend/src/modules/contacts/pages/ContractorsPage.tsx
Due: eslint --cache --fix

feat: restructure CRM system with comprehensive parent and focused child modules
  frontend/src/modules/contacts/ContactsPage.tsx
  frontend/src/modules/contacts/pages/ClientsPage.tsx
  frontend/src/modules/contacts/pages/ConsultantsPage.tsx
  frontend/src/modules/contacts/pages/ContractorsPage.tsx
Due: eslint --cache --fix

fix: add navigation links and simplify individual contact pages
  frontend/src/modules/contacts/pages/ClientsPage.tsx
  frontend/src/modules/contacts/pages/ConsultantsPage.tsx
  frontend/src/modules/contacts/pages/ContractorsPage.tsx
Due: eslint --cache --fix

feat: create unique, specialized interfaces for each contact type
  frontend/src/modules/contacts/pages/ClientsPage.tsx
  frontend/src/modules/contacts/pages/ConsultantsPage.tsx
  frontend/src/modules/contacts/pages/ContractorsPage.tsx
Due: eslint --cache --fix

fix: clean up imports and formatting in contact pages
  frontend/src/modules/contacts/pages/ClientsPage.tsx
  frontend/src/modules/contacts/pages/ConsultantsPage.tsx
  frontend/src/modules/contacts/pages/ContractorsPage.tsx
Due: eslint --cache --fix

refactor: simplify individual contact pages to focus on contact management only
  frontend/src/modules/contacts/pages/ClientsPage.tsx
  frontend/src/modules/contacts/pages/ConsultantsPage.tsx
  frontend/src/modules/contacts/pages/ContractorsPage.tsx
Due: eslint --cache --fix

feat: create unique designs for individual contact pages
  frontend/src/modules/contacts/pages/ClientsPage.tsx
  frontend/src/modules/contacts/pages/ConsultantsPage.tsx
  frontend/src/modules/contacts/pages/ContractorsPage.tsx
Due: eslint --cache --fix

feat: create completely independent contact pages with unique data
  frontend/src/modules/contacts/pages/ClientsPage.tsx
  frontend/src/modules/contacts/pages/ConsultantsPage.tsx
  frontend/src/modules/contacts/pages/ContractorsPage.tsx
Due: eslint --cache --fix

fix: clean up unused imports in contact pages
  frontend/src/modules/contacts/pages/ClientsPage.tsx
  frontend/src/modules/contacts/pages/ConsultantsPage.tsx
  frontend/src/modules/contacts/pages/ContractorsPage.tsx
Due: eslint --cache --fix

fix: make contact sub-pages read from main contacts store with proper filtering
  frontend/src/modules/contacts/pages/ClientsPage.tsx
  frontend/src/modules/contacts/pages/ConsultantsPage.tsx
  frontend/src/modules/contacts/pages/ContractorsPage.tsx
Due: eslint --cache --fix

refactor: remove CRM manager elements from contact sub-pages
  frontend/src/modules/contacts/pages/ClientsPage.tsx
  frontend/src/modules/contacts/pages/ConsultantsPage.tsx
  frontend/src/modules/contacts/pages/ContractorsPage.tsx
Due: eslint --cache --fix

feat: completely redesign contact sub-pages with unique layouts
  frontend/src/modules/contacts/pages/ClientsPage.tsx
  frontend/src/modules/contacts/pages/ConsultantsPage.tsx
  frontend/src/modules/contacts/pages/ContractorsPage.tsx
Due: eslint --cache --fix

fix: clean up unused imports in ConsultantsPage
  frontend/src/modules/contacts/pages/ConsultantsPage.tsx
Due: eslint --cache --fix

feat: add temporary test banners to contact sub-pages
  frontend/src/modules/contacts/pages/ClientsPage.tsx
  frontend/src/modules/contacts/pages/ConsultantsPage.tsx
  frontend/src/modules/contacts/pages/ContractorsPage.tsx
Due: eslint --cache --fix

fix: remove debug console.log statements from contact pages and permissions
  frontend/src/lib/permissions/hooks.tsx
  frontend/src/modules/contacts/ContactsList.tsx
  frontend/src/modules/contacts/ContactsPage.tsx
Due: eslint --cache --fix

feat: add comprehensive development tools and helper scripts
  DEVELOPMENT_SETUP.md
  package.json
  scripts/dev-helper.sh
Due: prettier --write

fix: remove temporary test banners from contact pages
  frontend/src/modules/contacts/pages/ConsultantsPage.tsx
  frontend/src/modules/contacts/pages/ContractorsPage.tsx
Due: eslint --cache --fix

feat: add advanced development automation tools
  .husky/pre-commit
  ADVANCED_DEVELOPMENT_GUIDE.md
  frontend/package.json
  frontend/src/app/routes.tsx
  frontend/src/components/error/ErrorBoundary.tsx
  frontend/src/lib/monitoring/performance.ts
  frontend/src/test/setup.ts
  frontend/vitest.config.ts
  node_modules/.modules.yaml
  node_modules/.pnpm-workspace-state-v1.json
  node_modules/.pnpm/lock.yaml
  node_modules/.pnpm/node_modules/fsevents
  package.json
  playwright.config.ts
  pnpm-lock.yaml
  scripts/dev-helper.sh
  scripts/generate-component.js
Due: eslint --cache --fix, prettier --write

fix: update advanced development tools with React imports and improvements
  ADVANCED_DEVELOPMENT_GUIDE.md
  frontend/src/components/error/ErrorBoundary.tsx
  frontend/src/lib/monitoring/performance.ts
  scripts/generate-component.js
Due: eslint --cache --fix, prettier --write

fix: add development debug info for contact URL filtering
  frontend/src/modules/contacts/ContactsPage.tsx
Due: eslint --cache --fix

fix: correct contact type URL routing and add visual filter indicators
  frontend/src/modules/contacts/ContactsPage.tsx
Due: eslint --cache --fix

feat: implement clean URL routing for contact types
  frontend/src/components/layout/Sidebar.tsx
  frontend/src/modules/contacts/ContactsPage.tsx
  frontend/src/modules/contacts/__tests__/ContactsPage.test.tsx
Due: eslint --cache --fix
