Repository ConstructBMS/ConstructBMS: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

feat: enhance Home and Financial dashboards with professional styling
  frontend/src/modules/dashboard/store.ts
Due: eslint --cache --fix

debug: enhance logging to see actual data content
  frontend/src/modules/dashboard/components/widgets/CustomWidget.tsx
  frontend/src/modules/dashboard/components/widgets/StatsWidget.tsx
Due: eslint --cache --fix

fix: resolve syntax error and content overflow issues
  frontend/src/modules/dashboard/components/widgets/CustomWidget.tsx
  frontend/src/modules/dashboard/components/widgets/StatsWidget.tsx
  frontend/src/modules/dashboard/store.ts
Due: eslint --cache --fix

fix: resolve multiple dashboard issues
  frontend/src/modules/dashboard/components/DashboardWidgets.tsx
  frontend/src/modules/dashboard/components/widgets/CustomWidget.tsx
  frontend/src/modules/dashboard/components/widgets/StatsWidget.tsx
  frontend/src/modules/dashboard/store.ts
Due: eslint --cache --fix

feat: implement dashboard chart widgets with real-time data
  frontend/src/components/layout/Page.tsx
  frontend/src/modules/dashboard/DashboardPage.tsx
  frontend/src/modules/dashboard/components/DashboardBuilder.tsx
  frontend/src/modules/dashboard/components/DashboardWidgets.tsx
  frontend/src/modules/dashboard/components/widgets/ChartWidget.tsx
  frontend/src/modules/dashboard/components/widgets/StatsWidget.tsx
  frontend/src/modules/dashboard/store.ts
  frontend/src/modules/projects/ProjectsPage.tsx
Due: eslint --cache --fix

fix: change storage key to force fresh data load with enhanced styling
  frontend/clear-storage.js
  frontend/src/modules/dashboard/store.ts
Due: eslint --cache --fix

debug: add console logging to widgets to diagnose styling issues
  frontend/src/modules/dashboard/components/widgets/CustomWidget.tsx
  frontend/src/modules/dashboard/components/widgets/ListWidget.tsx
  frontend/src/modules/dashboard/components/widgets/StatsWidget.tsx
  frontend/src/modules/dashboard/components/widgets/TableWidget.tsx
Due: eslint --cache --fix

docs: update CHANGELOG with dashboard chart widgets implementation
  CHANGELOG.md
Due: prettier --write

fix: add missing analytics route and server configuration
  backend/src/routes/analytics.ts
  backend/src/server.ts
Due: eslint --cache --fix

fix: restore dashboard chart widgets and analytics functionality
  database/schema.sql
  database/seed-financial-data.sql
  frontend/src/modules/dashboard/components/DashboardWidgets.tsx
  frontend/src/modules/dashboard/components/widgets/ChartWidget.tsx
  frontend/src/services/analytics.ts
Due: eslint --cache --fix

docs: update CHANGELOG with dashboard chart widgets restoration fixes
  CHANGELOG.md
Due: prettier --write

fix: improve dashboard layout consistency and alignment
  CHANGELOG.md
  frontend/src/modules/dashboard/components/DashboardWidgets.tsx
  frontend/src/modules/dashboard/components/widgets/ChartWidget.tsx
  frontend/src/modules/dashboard/components/widgets/CustomWidget.tsx
  frontend/src/modules/dashboard/components/widgets/ListWidget.tsx
  frontend/src/modules/dashboard/components/widgets/StatsWidget.tsx
  frontend/src/modules/dashboard/components/widgets/TableWidget.tsx
  frontend/src/services/analytics.ts
Due: eslint --cache --fix, prettier --write

feat: implement Performance Metrics and Growth Analytics widgets
  frontend/src/modules/dashboard/components/DashboardWidgets.tsx
  frontend/src/modules/dashboard/components/widgets/ChartWidget.tsx
  frontend/src/modules/dashboard/components/widgets/MultiChartWidgets.tsx
  frontend/src/modules/dashboard/store.ts
Due: eslint --cache --fix

fix: force Performance Metrics and Growth Analytics widgets to render as multi-series charts
  frontend/src/modules/dashboard/components/DashboardWidgets.tsx
  frontend/src/modules/dashboard/components/widgets/ChartWidget.tsx
  frontend/src/modules/dashboard/components/widgets/MultiChartWidgets.tsx
Due: eslint --cache --fix

fix: move performance-metrics and growth-analytics widgets to default dashboard
  frontend/src/modules/dashboard/components/widgets/MultiChartWidgets.tsx
Due: eslint --cache --fix

docs: update CHANGELOG with dashboard widget visibility fix
  CHANGELOG.md
Due: prettier --write

fix: complete dashboard layout update
  frontend/src/modules/dashboard/components/DashboardWidgets.tsx
Due: eslint --cache --fix

fix: update dashboard layout and clear browser cache for widget visibility
  CHANGELOG.md
  frontend/clear-dashboard-cache.js
  frontend/src/modules/dashboard/components/DashboardWidgets.tsx
Due: eslint --cache --fix, prettier --write

fix: remove localStorage persistence from dashboard store
  frontend/clear-dashboard-cache.js
  frontend/src/modules/dashboard/store.ts
Due: eslint --cache --fix

feat: implement comprehensive demo mode system
  database/migrations/2025-01-27_demo-data-classification.sql
  frontend/src/app/AppShell.tsx
  frontend/src/app/store/demo-mode.store.ts
  frontend/src/components/DemoModeBanner.tsx
  frontend/src/components/modals/DeleteDemoDataModal.tsx
  frontend/src/contexts/AuthContext.tsx
  frontend/src/modules/settings/sections/DemoDataManagement.tsx
  frontend/src/pages/GeneralSettings.tsx
  frontend/src/services/demo-data.service.ts
  frontend/src/services/demo-mode-init.service.ts
Due: eslint --cache --fix

fix: update demo mode system components
  database/migrations/2025-01-27_demo-data-classification.sql
  frontend/src/app/AppShell.tsx
  frontend/src/app/store/demo-mode.store.ts
  frontend/src/components/DemoModeBanner.tsx
  frontend/src/components/modals/DeleteDemoDataModal.tsx
  frontend/src/contexts/AuthContext.tsx
  frontend/src/modules/settings/sections/DemoDataManagement.tsx
  frontend/src/services/demo-data.service.ts
  frontend/src/services/demo-mode-init.service.ts
Due: eslint --cache --fix

fix: complete financial dashboard layout update
  frontend/src/modules/dashboard/components/DashboardWidgets.tsx
Due: eslint --cache --fix

fix: update financial dashboard layout structure
  frontend/src/modules/dashboard/components/DashboardWidgets.tsx
Due: eslint --cache --fix

fix: prevent Outstanding Invoices table from overflowing container
  frontend/src/modules/dashboard/components/widgets/TableWidget.tsx
Due: eslint --cache --fix

feat: implement subtle custom scrollbars with hover/scroll visibility
  frontend/src/hooks/useScrollbar.ts
  frontend/src/index.css
  frontend/src/modules/dashboard/components/widgets/ListWidget.tsx
  frontend/src/modules/dashboard/components/widgets/TableWidget.tsx
Due: eslint --cache --fix, prettier --write

fix: improve scrollbar performance and visibility
  frontend/src/hooks/useScrollbar.ts
  frontend/src/index.css
  frontend/src/modules/dashboard/components/widgets/ListWidget.tsx
  frontend/src/modules/dashboard/components/widgets/TableWidget.tsx
Due: eslint --cache --fix, prettier --write

fix: improve scrollbar performance and hover detection
  frontend/src/hooks/useScrollbar.ts
  frontend/src/index.css
Due: eslint --cache --fix, prettier --write

fix: resolve React Hooks rule violation in useScrollbar
  frontend/src/hooks/useScrollbar.ts
Due: eslint --cache --fix

fix: final scrollbar hook improvements
  frontend/src/hooks/useScrollbar.ts
Due: eslint --cache --fix

fix: resolve React Hooks violations and improve scrollbar/widget alignment
  frontend/src/hooks/useScrollbar.ts
  frontend/src/modules/dashboard/components/widgets/StatsWidget.tsx
Due: eslint --cache --fix

fix: improve main page scroll smoothness and reduce sensitivity
  frontend/src/hooks/useScrollbar.ts
  frontend/src/index.css
Due: eslint --cache --fix, prettier --write

fix: final scroll smoothness improvements
  frontend/src/hooks/useScrollbar.ts
  frontend/src/index.css
Due: eslint --cache --fix, prettier --write

fix: improve Performance Metrics widget spacing and alignment
  frontend/src/modules/dashboard/components/widgets/MultiChartWidgets.tsx
Due: eslint --cache --fix

fix: center align Performance Metrics Avg labels and numbers
  frontend/src/modules/dashboard/components/widgets/MultiChartWidgets.tsx
Due: eslint --cache --fix

fix: improve Welcome widget spacing and layout
  frontend/src/modules/dashboard/components/widgets/CustomWidget.tsx
Due: eslint --cache --fix

fix: improve Welcome widget spacing further
  frontend/src/modules/dashboard/components/widgets/CustomWidget.tsx
Due: eslint --cache --fix

fix: restore Welcome widget size and adjust button spacing
  frontend/src/modules/dashboard/components/widgets/CustomWidget.tsx
Due: eslint --cache --fix

fix: align widget content horizontally across first row
  frontend/src/modules/dashboard/components/widgets/ChartWidget.tsx
  frontend/src/modules/dashboard/components/widgets/CustomWidget.tsx
  frontend/src/modules/dashboard/components/widgets/MultiChartWidgets.tsx
Due: eslint --cache --fix

fix: increase widget content padding for proper alignment
  frontend/src/modules/dashboard/components/widgets/ChartWidget.tsx
  frontend/src/modules/dashboard/components/widgets/CustomWidget.tsx
  frontend/src/modules/dashboard/components/widgets/MultiChartWidgets.tsx
Due: eslint --cache --fix

Path conditions:
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{json,md,yml,yaml,css,scss,html}
